In [15]:
import pandas as pd
import requests
import numpy as np
import os
import datetime
import xlrd

In [16]:
#filtered required columns from the data source
df_raw = pd.read_excel('HRD_COMPLETE_CODING_SHEET_WITH_NOTES.xlsx',usecols = [0,7,11])
df_raw.head()

  Country name v3regenddate v3regendtype
0         Peru   09/12/1824            5
1        Peru    04/01/1827           12
2        Peru    01/09/1829            0
3         Peru   24/04/1834           11
4         Peru   23/02/1835            0

In [17]:
#Replaced E which stands for current date in the report with the number 2021
df_raw = df_raw.replace(to_replace="E",value="01/01/2021")
df_raw.head()

  Country name v3regenddate v3regendtype
0         Peru   09/12/1824            5
1        Peru    04/01/1827           12
2        Peru    01/09/1829            0
3         Peru   24/04/1834           11
4         Peru   23/02/1835            0

In [18]:
#Changed data type for date for datatime
df_raw['v3regenddate']= pd.to_datetime(df_raw['v3regenddate'])
df_raw

             Country name v3regenddate v3regendtype
0                    Peru   1824-09-12            5
1                   Peru    1827-04-01           12
2                   Peru    1829-01-09            0
3                    Peru   1834-04-24           11
4                    Peru   1835-02-23            0
...                   ...          ...          ...
2075  Palestine/West Bank   1950-04-24           10
2076  Palestine/West Bank   1950-12-31          NaN
2077  Palestine/West Bank   1967-06-05          NaN
2078  Palestine/West Bank   2007-06-15            5
2079  Palestine/West Bank   2021-01-01          NaN

[2080 rows x 3 columns]

In [19]:
df_raw['Revolution'] = np.where((df_raw['v3regenddate']>='2010-01-01') & (df_raw['v3regenddate']<'2021-01-01'),True, False)
df_raw

             Country name v3regenddate v3regendtype  Revolution
0                    Peru   1824-09-12            5       False
1                   Peru    1827-04-01           12       False
2                   Peru    1829-01-09            0       False
3                    Peru   1834-04-24           11       False
4                    Peru   1835-02-23            0       False
...                   ...          ...          ...         ...
2075  Palestine/West Bank   1950-04-24           10       False
2076  Palestine/West Bank   1950-12-31          NaN       False
2077  Palestine/West Bank   1967-06-05          NaN       False
2078  Palestine/West Bank   2007-06-15            5       False
2079  Palestine/West Bank   2021-01-01          NaN       False

[2080 rows x 4 columns]

In [20]:
#Selected the data from 2010 to 2021
df_2010 = df_raw[(df_raw['v3regenddate']>= "2010-01-01") & (df_raw['v3regenddate']< "2020-12-31")]
df_2010

                  Country name v3regenddate v3regendtype  Revolution
60       Turkey/Ottoman Empire   2017-04-16            2        True
110         Libya/Tripolitania   2011-08-23            7        True
214                      Egypt   2011-02-11            8        True
215                      Egypt   2012-06-24           10        True
216                      Egypt   2012-12-26           10        True
217                      Egypt   2013-07-03            0        True
218                      Egypt   2014-01-18           10        True
258              Burma/Myanmar   2012-04-01            9        True
267                      Yemen   2012-02-25            5        True
268                      Yemen   2014-09-24            5        True
269                      Yemen   2015-01-23            5        True
270                      Yemen   2015-03-25            5        True
305                    Tunisia   2011-01-14            8        True
306                    Tunisia   2014-01-26            9        True
352                    Bolivia   2017-11-28            2        True
417                      China   2018-03-11           10        True
650                   Honduras   2010-01-27            9        True
726                    Hungary   2012-01-01           10        True
836                 Madagascar   2010-12-11           10        True
837                 Madagascar   2014-01-25            9        True
860                     Russia   2012-03-04            2        True
1154                 Venezuela   2017-07-30            2        True
1179                  Thailand   2014-05-22            0        True
1180                  Thailand   2017-04-06            2        True
1224                  Malaysia   2018-05-10           11        True
1235                   Armenia   2018-04-23            8        True
1245                Kyrgyzstan   2010-04-08            8        True
1246                Kyrgyzstan   2010-06-27            9        True
1281                   Ukraine   2014-02-21            8        True
1343                   Burundi   2010-06-28            2        True
1382                   Somalia   2012-08-20           10        True
1400                    Gambia   2017-01-21            7        True
1411                      Mali   2012-03-22            0        True
1412                      Mali   2012-04-12           10        True
1413                      Mali   2012-12-10            0        True
1414                      Mali   2013-09-04            9        True
1427                     Niger   2010-02-18            0        True
1428                     Niger   2011-04-07            9        True
1473  Central African Republic   2013-03-24            5        True
1474  Central African Republic   2014-01-10            5        True
1475  Central African Republic   2015-12-13            9        True
1670              Burkina Faso   2014-10-31            8        True
1671              Burkina Faso   2014-11-18           10        True
1672              Burkina Faso   2015-09-16            0        True
1673              Burkina Faso   2015-09-23           10        True
1674              Burkina Faso   2015-12-29            9        True
1681                    Guinea   2010-01-26           10        True
1682                    Guinea   2010-12-21            9        True
1707               Ivory Coast   2011-04-11            5        True
1801                      Iraq   2011-12-15           10        True
1802                      Iraq   2014-06-15            5        True
1803                      Iraq   2017-12-09            5        True
1855                      Fiji   2013-09-07            2        True
1887                Seychelles   2016-09-10            9        True
1896           Solomon Islands   2017-06-30            7        True
2053                   Bahrain   2011-03-15            2        True

In [21]:
len(df_2010["Country name"].unique())

32

In [22]:
(df_2010["v3regendtype"].unique())

array([2, 7, 8, 10, 0, 9, 5, 11, '8'], dtype=object)

In [24]:
from dataprep.clean import clean_country
df_ISO= clean_country(df_2010, "Country name", output_format="alpha-3")
df_ISO

  0%|          | 0/8 [00:00<?, ?it/s]

Country Cleaning Report:
	56 values cleaned (100.0%)
Result contains 56 (100.0%) values in the correct format and 0 null values (0.0%)

,Country name,v3regenddate,v3regendtype,Revolution,Country name_clean
60,Turkey/Ottoman Empire,2017-04-16,2,True,TUR
110,Libya/Tripolitania,2011-08-23,7,True,LBY
214,Egypt,2011-02-11,8,True,EGY
215,Egypt,2012-06-24,10,True,EGY
216,Egypt,2012-12-26,10,True,EGY
217,Egypt,2013-07-03,0,True,EGY
218,Egypt,2014-01-18,10,True,EGY
258,Burma/Myanmar,2012-04-01,9,True,MMR
267,Yemen,2012-02-25,5,True,YEM
268,Yemen,2014-09-24,5,True,YEM
269,Yemen,2015-01-23,5,True,YEM
270,Yemen,2015-03-25,5,True,YEM
305,Tunisia,2011-01-14,8,True,TUN
306,Tunisia,2014-01-26,9,True,TUN
352,Bolivia,2017-11-28,2,True,BOL
417,China,2018-03-11,10,True,CHN
650,Honduras,2010-01-27,9,True,HND
726,Hungary,2012-01-01,10,True,HUN
836,Madagascar,2010-12-11,10,True,MDG
837,Madagascar,2014-01-25,9,True,MDG
860,Russia,2012-03-04,2,True,RUS
1154,Venezuela,2017-07-30,2,True,VEN
1179,Thailand,2014-05-22,0,True,THA
1180,Thailand,2017-04-06,2,True,THA
1224,Malaysia,2018-05-10,11,True,MYS
1235,Armenia,2018-04-23,8,True,ARM
1245,Kyrgyzstan,2010-04-08,8,True,KGZ
1246,Kyrgyzstan,2010-06-27,9,True,KGZ
1281,Ukraine,2014-02-21,8,True,UKR
1343,Burundi,2010-06-28,2,True,BDI
1382,Somalia,2012-08-20,10,True,SOM
1400,Gambia,2017-01-21,7,True,GMB
1411,Mali,2012-03-22,0,True,MLI
1412,Mali,2012-04-12,10,True,MLI
1413,Mali,2012-12-10,0,True,MLI
1414,Mali,2013-09-04,9,True,MLI
1427,Niger,2010-02-18,0,True,NER
1428,Niger,2011-04-07,9,True,NER
1473,Central African Republic,2013-03-24,5,True,CAF
1474,Central African Republic,2014-01-10,5,True,CAF
1475,Central African Republic,2015-12-13,9,True,CAF
1670,Burkina Faso,2014-10-31,8,True,BFA
1671,Burkina Faso,2014-11-18,10,True,BFA
1672,Burkina Faso,2015-09-16,0,True,BFA
1673,Burkina Faso,2015-09-23,10,True,BFA
1674,Burkina Faso,2015-12-29,9,True,BFA
1681,Guinea,2010-01-26,10,True,GIN
1682,Guinea,2010-12-21,9,True,GIN
1707,Ivory Coast,2011-04-11,5,True,CIV
1801,Iraq,2011-12-15,10,True,IRQ
1802,Iraq,2014-06-15,5,True,IRQ
1803,Iraq,2017-12-09,5,True,IRQ
1855,Fiji,2013-09-07,2,True,FJI
1887,Seychelles,2016-09-10,9,True,SYC
1896,Solomon Islands,2017-06-30,7,True,SLB
2053,Bahrain,2011-03-15,2,True,BHR