In [7]:
import pandas as pd

from time import sleep
import os

pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_colwidth', None)

In [8]:
path = os.getcwd()
path

'/Users/rubencito/CAS_datascience/ADS_CAS_Bern_2020/Projects/M3'

In [34]:
excel_path = os.path.join(path, 
             "datasets",
             "CPI_FULL_DATA_2021-01-27-162209",
             "CPI2020_GlobalTablesTS_210125_1.xlsx")

### only contain data from 2012

In [75]:
raw_CPI_df = pd.read_excel(excel_path,
              header= 2,
              sheet_name = 1,
              usecols= list(range(0, 2)) + list(range(3, 20, 4)) + list(range(19, 33, 3))
              )
raw_CPI_df.head()

,Country,ISO3,CPI score 2020,CPI score 2019,CPI score 2018,CPI score 2017,CPI score 2016,CPI score 2015,CPI score 2014,CPI Score 2013,CPI Score 2012
0,Denmark,DNK,88,87,88,88,90.0,91.0,92.0,91.0,90.0
1,New Zealand,NZL,88,87,87,89,90.0,91.0,91.0,91.0,90.0
2,Finland,FIN,85,86,85,85,89.0,90.0,89.0,89.0,90.0
3,Singapore,SGP,85,85,85,84,84.0,85.0,84.0,86.0,87.0
4,Sweden,SWE,85,85,85,84,88.0,89.0,87.0,89.0,88.0

In [81]:
CPI_colnames = list(raw_CPI_df.columns)
raw_CPI_df.rename(columns = {CPI_colnames[0] : 'country_name', CPI_colnames[1] : "country_code"}, inplace = True)
CPI_colnames = list(raw_CPI_df.columns)
raw_CPI_df.head(5)

,country_name,country_code,CPI score 2020,CPI score 2019,CPI score 2018,CPI score 2017,CPI score 2016,CPI score 2015,CPI score 2014,CPI Score 2013,CPI Score 2012
0,Denmark,DNK,88,87,88,88,90.0,91.0,92.0,91.0,90.0
1,New Zealand,NZL,88,87,87,89,90.0,91.0,91.0,91.0,90.0
2,Finland,FIN,85,86,85,85,89.0,90.0,89.0,89.0,90.0
3,Singapore,SGP,85,85,85,84,84.0,85.0,84.0,86.0,87.0
4,Sweden,SWE,85,85,85,84,88.0,89.0,87.0,89.0,88.0

In [83]:
raw_CPI_long = raw_CPI_df.melt(id_vars=CPI_colnames[:2],
                value_vars=CPI_colnames[2:],
                var_name='year', 
                value_name='CPI_score')
raw_CPI_long.head(5)

  country_name country_code            year  CPI_score
0      Denmark          DNK  CPI score 2020       88.0
1  New Zealand          NZL  CPI score 2020       88.0
2      Finland          FIN  CPI score 2020       85.0
3    Singapore          SGP  CPI score 2020       85.0
4       Sweden          SWE  CPI score 2020       85.0

In [87]:
raw_CPI_long['year'] = raw_CPI_long.year.str.extract('(\d+)')# Extract numeric part of the string
raw_CPI_long.head()

  country_name country_code  year  CPI_score
0      Denmark          DNK  2020       88.0
1  New Zealand          NZL  2020       88.0
2      Finland          FIN  2020       85.0
3    Singapore          SGP  2020       85.0
4       Sweden          SWE  2020       85.0

In [90]:
raw_CPI_long = raw_CPI_long.sort_values(by=['country_name', 'year']).reset_index(drop = True)

In [91]:
raw_CPI_long.head()

  country_name country_code  year  CPI_score
0  Afghanistan          AFG  2012        8.0
1  Afghanistan          AFG  2013        8.0
2  Afghanistan          AFG  2014       12.0
3  Afghanistan          AFG  2015       11.0
4  Afghanistan          AFG  2016       15.0

### Note: 15 countries missing in this dataset!

In [93]:
len(raw_CPI_long.country_name.unique())

180

In [97]:
raw_CPI_long.to_csv(os.path.join(path, 
                                 "curated_datasets",
                                 "TI_CPI_df.csv"), 
                    index=False)