In [1]:
import pandas as pd
import os

In [2]:
os.chdir('/Users/rubencito/CAS_datascience/ADS_CAS_Bern_2020/Projects')
path = os.getcwd()
path

'/Users/rubencito/CAS_datascience/ADS_CAS_Bern_2020/Projects'

In [4]:
file_path = os.path.join(path, 
                         "M1 and M2",
                         "Suppl_info",
                         "WorldBank_metadata",
                         "CLASS.xls")

In [7]:
eco_raw_df = pd.read_excel(file_path, 
                           sheet_name=0, 
                           header=5,
                           nrows=218,
                           usecols=[2, 3, 5, 6])

eco_raw_df.rename(columns = {'x.3' : "country_code",
                             'x.6': "Economy_Group",
                             'x.5': "Geografical_Region",
                             'x.2': "country_name"}, 
                  inplace = True)

eco_raw_df.head()

,country_name,country_code,Geografical_Region,Economy_Group
0,Afghanistan,AFG,South Asia,Low income
1,Albania,ALB,Europe & Central Asia,Upper middle income
2,Algeria,DZA,Middle East & North Africa,Lower middle income
3,American Samoa,ASM,East Asia & Pacific,Upper middle income
4,Andorra,AND,Europe & Central Asia,High income

In [8]:
eco_raw_df.shape

(218, 4)

In [9]:
len(eco_raw_df.country_code.unique())

218

In [ ]:
df[df['country_code'].isin(UNDP_country_code_list)]

In [13]:
UNDP_country_code_list = pd.read_csv(os.path.join(path, 
                         "M3",
                         "Country_code.csv"))

UNDP_country_code_list.rename(columns = {"Country_Code" : "country_code",
                             "Country_Name" : "country_name"},
                              inplace = True)

In [15]:
len(UNDP_country_code_list["country_code"].to_list())

195

In [ ]:
len(eco_raw_df[["country_code"]].unique().to_list())

### These 23 small countries are not in the original UNDP list of contries. they will be excluded

In [19]:
eco_raw_df[~eco_raw_df["country_code"].isin(UNDP_country_code_list["country_code"])].shape

(23, 4)

In [20]:
eco_raw_df[~eco_raw_df["country_code"].isin(UNDP_country_code_list["country_code"])]

,country_name,country_code,Geografical_Region,Economy_Group
3,American Samoa,ASM,East Asia & Pacific,Upper middle income
9,Aruba,ABW,Latin America & Caribbean,High income
21,Bermuda,BMU,North America,High income
27,British Virgin Islands,VGB,Latin America & Caribbean,High income
36,Cayman Islands,CYM,Latin America & Caribbean,High income
39,Channel Islands,CHI,Europe & Central Asia,High income
50,Curaçao,CUW,Latin America & Caribbean,High income
65,Faroe Islands,FRO,Europe & Central Asia,High income
69,French Polynesia,PYF,East Asia & Pacific,High income
75,Gibraltar,GIB,Europe & Central Asia,High income
77,Greenland,GRL,Europe & Central Asia,High income
79,Guam,GUM,East Asia & Pacific,High income
94,Isle of Man,IMN,Europe & Central Asia,High income
105,Kosovo,XKX,Europe & Central Asia,Upper middle income
117,"Macao SAR, China",MAC,East Asia & Pacific,High income
140,New Caledonia,NCL,East Asia & Pacific,High income
146,Northern Mariana Islands,MNP,East Asia & Pacific,High income
158,Puerto Rico,PRI,Latin America & Caribbean,High income
172,Sint Maarten (Dutch part),SXM,Latin America & Caribbean,High income
183,St. Martin (French part),MAF,Latin America & Caribbean,High income
190,"Taiwan, China",TWN,East Asia & Pacific,High income
201,Turks and Caicos Islands,TCA,Latin America & Caribbean,High income
213,Virgin Islands (U.S.),VIR,Latin America & Caribbean,High income

In [38]:
eco_regio_df = eco_raw_df[eco_raw_df["country_code"].isin(UNDP_country_code_list["country_code"])]

In [39]:
eco_regio_df.shape

(195, 4)

In [40]:
eco_regio_df.head()

  country_name country_code          Geografical_Region        Economy_Group
0  Afghanistan          AFG                  South Asia           Low income
1      Albania          ALB       Europe & Central Asia  Upper middle income
2      Algeria          DZA  Middle East & North Africa  Lower middle income
4      Andorra          AND       Europe & Central Asia          High income
5       Angola          AGO          Sub-Saharan Africa  Lower middle income

### Map the different Geo region and Economy groups to numeric variables

In [41]:
eco_regio_df.Geografical_Region.unique()

array(['South Asia', 'Europe & Central Asia',
       'Middle East & North Africa', 'Sub-Saharan Africa',
       'Latin America & Caribbean', 'East Asia & Pacific',
       'North America'], dtype=object)

In [29]:
my_numeric_regions = {'South Asia':0,
                      'Europe & Central Asia':1,
                      'Middle East & North Africa':2,
                      'Sub-Saharan Africa':3,
                      'Latin America & Caribbean':4,
                      'East Asia & Pacific':5,
                      'North America':6}

In [42]:
eco_regio_df.Economy_Group.unique()

array(['Low income', 'Upper middle income', 'Lower middle income',
       'High income'], dtype=object)

In [43]:
my_numeric_economies = {'Low income':0,
                        'Upper middle income': 1,
                        'Lower middle income':2,
                        'High income':3}

In [ ]:
eco_regio_df.replace({'Geografical_Region' : my_numeric_regions,
                      'Economy_Group': my_numeric_economies}, inplace = True)

In [48]:
eco_regio_df

           country_name country_code  Geografical_Region  Economy_Group
0           Afghanistan          AFG                   0              0
1               Albania          ALB                   1              1
2               Algeria          DZA                   2              2
4               Andorra          AND                   1              3
5                Angola          AGO                   3              2
..                  ...          ...                 ...            ...
212             Vietnam          VNM                   5              2
214  West Bank and Gaza          PSE                   2              2
215         Yemen, Rep.          YEM                   2              0
216              Zambia          ZMB                   3              2
217            Zimbabwe          ZWE                   3              2

[195 rows x 4 columns]

In [49]:
eco_regio_df.Geografical_Region.unique()

array([0, 1, 2, 3, 4, 5, 6])

In [50]:
eco_regio_df.Economy_Group.unique()

array([0, 1, 2, 3])

In [53]:
eco_regio_df.to_csv(os.path.join(path, 
                         "M3",
                         "curated_datasets",
                         "WB_Geo_and_Eco_groups.csv"), 
                   index = False)