In [15]:
import pandas as pd
import requests
from cssselect import GenericTranslator
from lxml.etree import XPath # delete
from lxml import html
from bs4 import BeautifulSoup # delete
import wget
from zipfile import ZipFile
import fnmatch
import os
import random 
from time import sleep

In [69]:
pd.set_option('display.max_rows', 1000)

In [38]:
path = os.getcwd()

In [2]:
# User Agent
headers = {
    "user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/71.0.3578.80 Chrome/71.0.3578.80 Safari/537.36",
}

In [3]:
# Wikipedia site with social revolts records
url = "https://en.wikipedia.org/wiki/List_of_revolutions_and_rebellions"

In [8]:
respuesta = requests.get(url, headers=headers)

In [9]:
# HTLM tree parser

parser = html.fromstring(respuesta.text)

## This is working fine.
### Here I parse the text of a given decade block from the wikipedia page using *xpath*

In [ ]:
# ingles = parser.get_element_by_id('/html/body/div[3]/div[3]/div[5]/div[1]/ul[22]')
ingles = parser.xpath('/html/body/div[3]/div[3]/div[5]/div[1]/ul[22]')
for i in ingles:
    print (i.text_content())

### This is working fine too. A different method with css selectors. Here I parse the text of a given decade block from the wikipedia page using *css selectors.*

In [ ]:
year = parser.xpath(GenericTranslator().css_to_xpath("ul:nth-child(100) li"))
for text in year:
    print(text.text_content())

## Finidng the links
### here you can find the links for a given decade

In [ ]:
links = parser.xpath(GenericTranslator().css_to_xpath('ul:nth-child(100) a'))
for link in links:
#     print(link.text_content())
    print('https://en.wikipedia.org' + link.attrib['href'])

# Use another wikipedia page source 

## I look for a more simple page to scrap the dataset

In [11]:
url_2 = 'https://en.wikipedia.org/wiki/List_of_protests_in_the_21st_century'

In [12]:
respuesta_2 = requests.get(url_2, headers=headers)

In [13]:
# HTLM tree parser

parser_2 = html.fromstring(respuesta_2.text)

In [ ]:
wiki_data = parser.xpath(GenericTranslator().css_to_xpath("ul:nth-child(100) li"))
for text in wiki_data:
    print(text.text_content())

## This is working fine.
### Here I parse the text of a given decade block from the wikipedia page using *xpath*

protest = parser_2.xpath(GenericTranslator().css_to_xpath('dt'))
for text in protest:
    print(text.text_content())
    print()

## Extract socioeconomical data from the worlbank

### Create a Function that make a call to the API and return a data frame

In [245]:
#####################

# This function make a specific dataseries request to the worlbank API and return a pandas df as output. 
# It takes 3  arguments:
# 1. Indicator Code "indic_code", 
# 2. year range "year_s", 
# 3. Path destination "destination"

#####################


def API_call_to_df(indic_code, 
                   year_s = '2000:2020', 
                   destination = path + "/" + "WB_datasets"):
    WB_url_seed = 'http://api.worldbank.org/v2/country/all/indicator/' + indic_code
    my_params = {'date' : year_s,
                'incomelevel' :'',
                'downloadformat' : 'csv',
                'per_page' : '304'}
    
    for file in os.listdir(destination):
        if fnmatch.fnmatch(file, "API_" + indic_code.upper() + "*"):
            os.remove(destination + "/" + file)
            response = requests.get(WB_url_seed, params = my_params)
            my_zip_file = wget.download(response.url, out= destination)
            print("file exists and it will be replaced")
            break
            
    else:
        response = requests.get(WB_url_seed, params = my_params)
        my_zip_file = wget.download(response.url, out= destination)
        
    with ZipFile(my_zip_file, 'r') as zipObj:
            for content in zipObj.namelist():
                if fnmatch.fnmatch(content, 'API_*'):
                    #print(content) #wihtin the content of the zip file find and extract the csv file that contain the data
                    my_filename = content
                    zipObj.extract(content, path = destination)
                    my_df = pd.read_csv(destination + '/' + my_filename, 
                                                header = 2,
                                                usecols = [*range(0, 25)])
                    os.remove(destination + "/" + my_filename)
                    
    return(my_df)

In [ ]:
API_call_to_df(indic_code="per_allsp.adq_pop_tot")

In [231]:
wer_indicator = API_call_to_df(indic_code="per_allsp.adq_pop_tot")

In [ ]:
wer_indicator2 = API_call_to_df(indic_code="per_allsp.adq_pop_tot")

In [189]:
wer_indicator.shape

(264, 25)

In [188]:
# Count the number of NaNs 
wer_indicator.isnull().sum()

Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
2000              263
2001              263
2002              261
2003              261
2004              259
2005              251
2006              245
2007              244
2008              235
2009              232
2010              230
2011              230
2012              225
2013              240
2014              234
2015              231
2016              235
2017              245
2018              258
2019              263
2020              264
dtype: int64

In [156]:
wer_indicator.tail(5)

,Country Name,Country Code,Indicator Name,Indicator Code,2000,2001,2002,2003,2004,2005,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 25
259,Kosovo,XKX,Adequacy of social protection and labor programs (% of total welfare of beneficiary households),per_allsp.adq_pop_tot,NaN,NaN,NaN,NaN,NaN,NaN,...,15.059514,17.811902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,Adequacy of social protection and labor programs (% of total welfare of beneficiary households),per_allsp.adq_pop_tot,NaN,NaN,NaN,NaN,NaN,9.212461,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,South Africa,ZAF,Adequacy of social protection and labor programs (% of total welfare of beneficiary households),per_allsp.adq_pop_tot,NaN,NaN,NaN,NaN,NaN,36.620761,...,NaN,NaN,34.201898,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,Zambia,ZMB,Adequacy of social protection and labor programs (% of total welfare of beneficiary households),per_allsp.adq_pop_tot,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.016747,NaN,NaN,NaN,NaN,NaN,NaN
263,Zimbabwe,ZWE,Adequacy of social protection and labor programs (% of total welfare of beneficiary households),per_allsp.adq_pop_tot,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50.084065,NaN,22.702797,NaN,NaN

## Importing the Worldbank data catalog
We see that the catalog contain > 1500 series!!!

In [21]:
full_db_catalog = pd.read_excel(io=path + "/" + "WDI_CETS.xls",
             sheet_name = 1)

In [110]:
full_db_catalog

,Series Code,Series Name,Topic,SubTopic1,SubTopic2,SubTopic3
0,AG.AGR.TRAC.NO,"Agricultural machinery, tractors",Environment,Agricultural production,NaN,NaN
1,AG.CON.FERT.PT.ZS,Fertilizer consumption (% of fertilizer produc...,Environment,Agricultural production,NaN,NaN
2,AG.CON.FERT.ZS,Fertilizer consumption (kilograms per hectare ...,Environment,Agricultural production,NaN,NaN
3,AG.LND.AGRI.K2,Agricultural land (sq. km),Environment,Land use,NaN,NaN
4,AG.LND.AGRI.ZS,Agricultural land (% of land area),Environment,Land use,NaN,NaN
...,...,...,...,...,...,...
1499,WP15163_4.1,Mobile account (% age 15+),Financial Sector,Access,NaN,NaN
1500,WP15163_4.2,"Mobile account, male (% age 15+)",Financial Sector,Access,NaN,NaN
1501,WP15163_4.3,"Mobile account, female (% age 15+)",Financial Sector,Access,NaN,NaN
1502,WP15163_4.8,"Mobile account, income, poorest 40% (% ages 15+)",Financial Sector,Access,NaN,NaN
1503,WP15163_4.9,"Mobile account, income, richest 60% (% ages 15+)",Financial Sector,Access,NaN,NaN

### Filtering the series that contain only %
We obtain only 755 variables which is a lot less!

In [57]:
raw_percentage_db_catalog = full_db_catalog[full_db_catalog['Series Name'].str.contains("%")]
raw_percentage_db_catalog

,Series Code,Series Name,Topic,SubTopic1,SubTopic2,SubTopic3
1,AG.CON.FERT.PT.ZS,Fertilizer consumption (% of fertilizer produc...,Environment,Agricultural production,NaN,NaN
4,AG.LND.AGRI.ZS,Agricultural land (% of land area),Environment,Land use,NaN,NaN
7,AG.LND.ARBL.ZS,Arable land (% of land area),Environment,Land use,NaN,NaN
9,AG.LND.CROP.ZS,Permanent cropland (% of land area),Environment,Land use,NaN,NaN
11,AG.LND.EL5M.RU.ZS,Rural land area where elevation is below 5 met...,Environment,Land use,NaN,NaN
...,...,...,...,...,...,...
1499,WP15163_4.1,Mobile account (% age 15+),Financial Sector,Access,NaN,NaN
1500,WP15163_4.2,"Mobile account, male (% age 15+)",Financial Sector,Access,NaN,NaN
1501,WP15163_4.3,"Mobile account, female (% age 15+)",Financial Sector,Access,NaN,NaN
1502,WP15163_4.8,"Mobile account, income, poorest 40% (% ages 15+)",Financial Sector,Access,NaN,NaN
1503,WP15163_4.9,"Mobile account, income, richest 60% (% ages 15+)",Financial Sector,Access,NaN,NaN

In [129]:
pd.set_option('display.max_colwidth', None)

In [143]:
raw_percentage_db_catalog.head(10).sort_values(by = "Topic")#[raw_percentage_db_catalog[]]

,Series Code,Series Name,Topic,SubTopic1,SubTopic2,SubTopic3
29,BG.GSR.NFSV.GD.ZS,Trade in services (% of GDP),Economic Policy & Debt,Balance of payments,Current account,"Goods, services & income"
1,AG.CON.FERT.PT.ZS,Fertilizer consumption (% of fertilizer production),Environment,Agricultural production,NaN,NaN
4,AG.LND.AGRI.ZS,Agricultural land (% of land area),Environment,Land use,NaN,NaN
7,AG.LND.ARBL.ZS,Arable land (% of land area),Environment,Land use,NaN,NaN
9,AG.LND.CROP.ZS,Permanent cropland (% of land area),Environment,Land use,NaN,NaN
11,AG.LND.EL5M.RU.ZS,Rural land area where elevation is below 5 meters (% of total land area),Environment,Land use,NaN,NaN
13,AG.LND.EL5M.UR.ZS,Urban land area where elevation is below 5 meters (% of total land area),Environment,Land use,NaN,NaN
14,AG.LND.EL5M.ZS,Land area where elevation is below 5 meters (% of total land area),Environment,Land use,NaN,NaN
16,AG.LND.FRST.ZS,Forest area (% of land area),Environment,Land use,NaN,NaN
17,AG.LND.IRIG.AG.ZS,Agricultural irrigated land (% of total agricultural land),Environment,Land use,NaN,NaN

In [138]:
raw_percentage_db_catalog.columns.to_list()

['Series Code', 'Series Name', 'Topic', 'SubTopic1', 'SubTopic2', 'SubTopic3']

In [141]:
# Display the number of series per topic
raw_percentage_db_catalog.sort_values(by = "Topic").groupby(['Topic'], as_index = False).size()#[raw_percentage_db_catalog[]]

Topic
Economic Policy & Debt       105
Education                    124
Environment                   68
Financial Sector              35
Gender                         9
Health                       131
Infrastructure                 6
Poverty                       20
Private Sector & Trade        91
Public Sector                 27
Social Protection & Labor    139
dtype: int64

#### We Observe that the topics that contain the most number of series are:

1. **Social Protection & Labor**
2. **Health**
3. **Education**
4. **Economic Policy & Debt**

In [ ]:
# explore the various topics

In [148]:
raw_percentage_db_catalog[raw_percentage_db_catalog['Topic'] == "Social Protection & Labor"]

,Series Code,Series Name,Topic,SubTopic1,SubTopic2,SubTopic3
869,per_allsp.adq_pop_tot,Adequacy of social protection and labor programs (% of total welfare of beneficiary households),Social Protection & Labor,Performance,NaN,NaN
870,per_allsp.ben_q1_tot,Benefit incidence of social protection and labor programs to poorest quintile (% of total SPL benefits),Social Protection & Labor,Performance,NaN,NaN
871,per_allsp.cov_pop_tot,Coverage of social protection and labor programs (% of population),Social Protection & Labor,Performance,NaN,NaN
872,per_lm_alllm.adq_pop_tot,Adequacy of unemployment benefits and ALMP (% of total welfare of beneficiary households),Social Protection & Labor,Performance,NaN,NaN
873,per_lm_alllm.ben_q1_tot,Benefit incidence of unemployment benefits and ALMP to poorest quintile (% of total U/ALMP benefits),Social Protection & Labor,Performance,NaN,NaN
874,per_lm_alllm.cov_pop_tot,Coverage of unemployment benefits and ALMP (% of population),Social Protection & Labor,Performance,NaN,NaN
875,per_lm_alllm.cov_q1_tot,Coverage of unemployment benefits and ALMP in poorest quintile (% of population),Social Protection & Labor,Performance,NaN,NaN
876,per_lm_alllm.cov_q2_tot,Coverage of unemployment benefits and ALMP in 2nd quintile (% of population),Social Protection & Labor,Performance,NaN,NaN
877,per_lm_alllm.cov_q3_tot,Coverage of unemployment benefits and ALMP in 3rd quintile (% of population),Social Protection & Labor,Performance,NaN,NaN
878,per_lm_alllm.cov_q4_tot,Coverage of unemployment benefits and ALMP in 4th quintile (% of population),Social Protection & Labor,Performance,NaN,NaN
879,per_lm_alllm.cov_q5_tot,Coverage of unemployment benefits and ALMP in richest quintile (% of population),Social Protection & Labor,Performance,NaN,NaN
880,per_sa_allsa.adq_pop_tot,Adequacy of social safety net programs (% of total welfare of beneficiary households),Social Protection & Labor,Performance,NaN,NaN
881,per_sa_allsa.ben_q1_tot,Benefit incidence of social safety net programs to poorest quintile (% of total safety net benefits),Social Protection & Labor,Performance,NaN,NaN
882,per_sa_allsa.cov_pop_tot,Coverage of social safety net programs (% of population),Social Protection & Labor,Performance,NaN,NaN
883,per_sa_allsa.cov_q1_tot,Coverage of social safety net programs in poorest quintile (% of population),Social Protection & Labor,Performance,NaN,NaN
884,per_sa_allsa.cov_q2_tot,Coverage of social safety net programs in 2nd quintile (% of population),Social Protection & Labor,Performance,NaN,NaN
885,per_sa_allsa.cov_q3_tot,Coverage of social safety net programs in 3rd quintile (% of population),Social Protection & Labor,Performance,NaN,NaN
886,per_sa_allsa.cov_q4_tot,Coverage of social safety net programs in 4th quintile (% of population),Social Protection & Labor,Performance,NaN,NaN
887,per_sa_allsa.cov_q5_tot,Coverage of social safety net programs in richest quintile (% of population),Social Protection & Labor,Performance,NaN,NaN
888,per_si_allsi.adq_pop_tot,Adequacy of social insurance programs (% of total welfare of beneficiary households),Social Protection & Labor,Performance,NaN,NaN
889,per_si_allsi.ben_q1_tot,Benefit incidence of social insurance programs to poorest quintile (% of total social insurance benefits),Social Protection & Labor,Performance,NaN,NaN
890,per_si_allsi.cov_pop_tot,Coverage of social insurance programs (% of population),Social Protection & Labor,Performance,NaN,NaN
891,per_si_allsi.cov_q1_tot,Coverage of social insurance programs in poorest quintile (% of population),Social Protection & Labor,Performance,NaN,NaN
892,per_si_allsi.cov_q2_tot,Coverage of social insurance programs in 2nd quintile (% of population),Social Protection & Labor,Performance,NaN,NaN
893,per_si_allsi.cov_q3_tot,Coverage of social insurance programs in 3rd quintile (% of population),Social Protection & Labor,Performance,NaN,NaN
894,per_si_allsi.cov_q4_tot,Coverage of social insurance programs in 4th quintile (% of population),Social Protection & Labor,Performance,NaN,NaN
895,per_si_allsi.cov_q5_tot,Coverage of social insurance programs in richest quintile (% of population),Social Protection & Labor,Performance,NaN,NaN
1187,SL.AGR.0714.FE.ZS,"Child employment in agriculture, female (% of female economically active children ages 7-14)",Social Protection & Labor,Economic activity,NaN,NaN
1188,SL.AGR.0714.MA.ZS,"Child employment in agriculture, male (% of male economically active children ages 7-14)",Social Protection & Labor,Economic activity,NaN,NaN
1189,SL.AGR.0714.ZS,Child employment in agriculture (% of economically active children ages 7-14),Social Protection & Labor,Economic activity,NaN,NaN
1190,SL.AGR.EMPL.FE.ZS,"Employment in agriculture, female (% of female employment)",Social Protection & Labor,Economic activity,NaN,NaN
1191,SL.AGR.EMPL.MA.ZS,"Employment in agriculture, male (% of male employment)",Social Protection & Labor,Economic activity,NaN,NaN
1192,SL.AGR.EMPL.ZS,Employment in agriculture (% of total employment),Social Protection & Labor,Economic activity,NaN,NaN
1193,SL.EMP.1524.SP.FE.NE.ZS,"Employment to population ratio, ages 15-24, female (%) (national estimate)",Social Protection & Labor,Economic activity,NaN,NaN
1194,SL.EMP.1524.SP.FE.ZS,"Employment to population ratio, ages 15-24, female (%) (modeled ILO estimate)",Social Protection & Labor,Economic activity,NaN,NaN
1195,SL.EMP.1524.SP.MA.NE.ZS,"Employment to population ratio, ages 15-24, male (%) (national estimate)",Social Protection & Labor,Economic activity,NaN,NaN
1196,SL.EMP.1524.SP.MA.ZS,"Employment to population ratio, ages 15-24, male (%) (modeled ILO estimate)",Social Protection & Labor,Economic activity,NaN,NaN
1197,SL.EMP.1524.SP.NE.ZS,"Employment to population ratio, ages 15-24, total (%) (national estimate)",Social Protection & Labor,Economic activity,NaN,NaN
1198,SL.EMP.1524.SP.ZS,"Employment to population ratio, ages 15-24, total (%) (modeled ILO estimate)",Social Protection & Labor,Economic activity,NaN,NaN
1199,SL.EMP.INSV.FE.ZS,Share of women in wage employment in the nonagricultural sector (% of total nonagricultural employment),Social Protection & Labor,Economic activity,NaN,NaN
1200,SL.EMP.MPYR.FE.ZS,"Employers, female (% of female employment)",Social Protection & Labor,Economic activity,NaN,NaN
1201,SL.EMP.MPYR.MA.ZS,"Employers, male (% of male employment)",Social Protection & Labor,Economic activity,NaN,NaN
1202,SL.EMP.MPYR.ZS,"Employers, total (% of total employment)",Social Protection & Labor,Economic activity,NaN,NaN
1203,SL.EMP.SELF.FE.ZS,"Self-employed, female (% of female employment)",Social Protection & Labor,Economic activity,NaN,NaN
1204,SL.EMP.SELF.MA.ZS,"Self-employed, male (% of male employment)",Social Protection & Labor,Economic activity,NaN,NaN
1205,SL.EMP.SELF.ZS,"Self-employed, total (% of total employment)",Social Protection & Labor,Economic activity,NaN,NaN
1206,SL.EMP.SMGT.FE.ZS,Female share of employment in senior and middle management (%),Social Protection & Labor,Economic activity,NaN,NaN
1207,SL.EMP.TOTL.SP.FE.NE.ZS,"Employment to population ratio, 15+, female (%) (national estimate)",Social Protection & Labor,Economic activity,NaN,NaN
1208,SL.EMP.TOTL.SP.FE.ZS,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",Social Protection & Labor,Economic activity,NaN,NaN
1209,SL.EMP.TOTL.SP.MA.NE.ZS,"Employment to population ratio, 15+, male (%) (national estimate)",Social Protection & Labor,Economic activity,NaN,NaN
1210,SL.EMP.TOTL.SP.MA.ZS,"Employment to population ratio, 15+, male (%) (modeled ILO estimate)",Social Protection & Labor,Economic activity,NaN,NaN
1211,SL.EMP.TOTL.SP.NE.ZS,"Employment to population ratio, 15+, total (%) (national estimate)",Social Protection & Labor,Economic activity,NaN,NaN
1212,SL.EMP.TOTL.SP.ZS,"Employment to population ratio, 15+, total (%) (modeled ILO estimate)",Social Protection & Labor,Economic activity,NaN,NaN
1213,SL.EMP.VULN.FE.ZS,"Vulnerable employment, female (% of female employment)",Social Protection & Labor,Economic activity,NaN,NaN
1214,SL.EMP.VULN.MA.ZS,"Vulnerable employment, male (% of male employment)",Social Protection & Labor,Economic activity,NaN,NaN
1215,SL.EMP.VULN.ZS,"Vulnerable employment, total (% of total employment)",Social Protection & Labor,Economic activity,NaN,NaN
1216,SL.EMP.WORK.FE.ZS,"Wage and salaried workers, female (% of female employment)",Social Protection & Labor,Economic activity,NaN,NaN
1217,SL.EMP.WORK.MA.ZS,"Wage and salaried workers, male (% of male employment)",Social Protection & Labor,Economic activity,NaN,NaN
1218,SL.EMP.WORK.ZS,"Wage and salaried workers, total (% of total employment)",Social Protection & Labor,Economic activity,NaN,NaN
1219,SL.FAM.0714.FE.ZS,"Children in employment, unpaid family workers, female (% of female children in employment, ages 7-14)",Social Protection & Labor,Economic activity,NaN,NaN
1220,SL.FAM.0714.MA.ZS,"Children in employment, unpaid family workers, male (% of male children in employment, ages 7-14)",Social Protection & Labor,Economic activity,NaN,NaN
1221,SL.FAM.0714.ZS,"Children in employment, unpaid family workers (% of children in employment, ages 7-14)",Social Protection & Labor,Economic activity,NaN,NaN
1222,SL.FAM.WORK.FE.ZS,"Contributing family workers, female (% of female employment)",Social Protection & Labor,Economic activity,NaN,NaN
1223,SL.FAM.WORK.MA.ZS,"Contributing family workers, male (% of male employment)",Social Protection & Labor,Economic activity,NaN,NaN
1224,SL.FAM.WORK.ZS,"Contributing family workers, total (% of total employment)",Social Protection & Labor,Economic activity,NaN,NaN
1226,SL.IND.EMPL.FE.ZS,"Employment in industry, female (% of female employment)",Social Protection & Labor,Economic activity,NaN,NaN
1227,SL.IND.EMPL.MA.ZS,"Employment in industry, male (% of male employment)",Social Protection & Labor,Economic activity,NaN,NaN
1228,SL.IND.EMPL.ZS,Employment in industry (% of total employment),Social Protection & Labor,Economic activity,NaN,NaN
1229,SL.ISV.IFRM.FE.ZS,"Informal employment, female (% of total non-agricultural employment)",Social Protection & Labor,Economic activity,NaN,NaN
1230,SL.ISV.IFRM.MA.ZS,"Informal employment, male (% of total non-agricultural employment)",Social Protection & Labor,Economic activity,NaN,NaN
1231,SL.ISV.IFRM.ZS,Informal employment (% of total non-agricultural employment),Social Protection & Labor,Economic activity,NaN,NaN
1232,SL.MNF.0714.FE.ZS,"Child employment in manufacturing, female (% of female economically active children ages 7-14)",Social Protection & Labor,Economic activity,NaN,NaN
1233,SL.MNF.0714.MA.ZS,"Child employment in manufacturing, male (% of male economically active children ages 7-14)",Social Protection & Labor,Economic activity,NaN,NaN
1234,SL.MNF.0714.ZS,Child employment in manufacturing (% of economically active children ages 7-14),Social Protection & Labor,Economic activity,NaN,NaN
1235,SL.SLF.0714.FE.ZS,"Children in employment, self-employed, female (% of female children in employment, ages 7-14)",Social Protection & Labor,Economic activity,NaN,NaN
1236,SL.SLF.0714.MA.ZS,"Children in employment, self-employed, male (% of male children in employment, ages 7-14)",Social Protection & Labor,Economic activity,NaN,NaN
1237,SL.SLF.0714.ZS,"Children in employment, self-employed (% of children in employment, ages 7-14)",Social Protection & Labor,Economic activity,NaN,NaN
1238,SL.SRV.0714.FE.ZS,"Child employment in services, female (% of female economically active children ages 7-14)",Social Protection & Labor,Economic activity,NaN,NaN
1239,SL.SRV.0714.MA.ZS,"Child employment in services, male (% of male economically active children ages 7-14)",Social Protection & Labor,Economic activity,NaN,NaN
1240,SL.SRV.0714.ZS,Child employment in services (% of economically active children ages 7-14),Social Protection & Labor,Economic activity,NaN,NaN
1241,SL.SRV.EMPL.FE.ZS,"Employment in services, female (% of female employment)",Social Protection & Labor,Economic activity,NaN,NaN
1242,SL.SRV.EMPL.MA.ZS,"Employment in services, male (% of male employment)",Social Protection & Labor,Economic activity,NaN,NaN
1243,SL.SRV.EMPL.ZS,Employment in services (% of total employment),Social Protection & Labor,Economic activity,NaN,NaN
1244,SL.TLF.0714.FE.ZS,"Children in employment, female (% of female children ages 7-14)",Social Protection & Labor,Economic activity,NaN,NaN
1245,SL.TLF.0714.MA.ZS,"Children in employment, male (% of male children ages 7-14)",Social Protection & Labor,Economic activity,NaN,NaN
1247,SL.TLF.0714.SW.FE.ZS,"Children in employment, study and work, female (% of female children in employment, ages 7-14)",Social Protection & Labor,Economic activity,NaN,NaN
1249,SL.TLF.0714.SW.MA.ZS,"Children in employment, study and work, male (% of male children in employment, ages 7-14)",Social Protection & Labor,Economic activity,NaN,NaN
1251,SL.TLF.0714.SW.ZS,"Children in employment, study and work (% of children in employment, ages 7-14)",Social Protection & Labor,Economic activity,NaN,NaN
1253,SL.TLF.0714.WK.FE.ZS,"Children in employment, work only, female (% of female children in employment, ages 7-14)",Social Protection & Labor,Economic activity,NaN,NaN
1255,SL.TLF.0714.WK.MA.ZS,"Children in employment, work only, male (% of male children in employment, ages 7-14)",Social Protection & Labor,Economic activity,NaN,NaN
1257,SL.TLF.0714.WK.ZS,"Children in employment, work only (% of children in employment, ages 7-14)",Social Protection & Labor,Economic activity,NaN,NaN
1258,SL.TLF.0714.ZS,"Children in employment, total (% of children ages 7-14)",Social Protection & Labor,Economic activity,NaN,NaN
1259,SL.TLF.ACTI.1524.FE.NE.ZS,"Labor force participation rate for ages 15-24, female (%) (national estimate)",Social Protection & Labor,Labor force structure,NaN,NaN
1260,SL.TLF.ACTI.1524.FE.ZS,"Labor force participation rate for ages 15-24, female (%) (modeled ILO estimate)",Social Protection & Labor,Labor force structure,NaN,NaN
1261,SL.TLF.ACTI.1524.MA.NE.ZS,"Labor force participation rate for ages 15-24, male (%) (national estimate)",Social Protection & Labor,Labor force structure,NaN,NaN
1262,SL.TLF.ACTI.1524.MA.ZS,"Labor force participation rate for ages 15-24, male (%) (modeled ILO estimate)",Social Protection & Labor,Labor force structure,NaN,NaN
1263,SL.TLF.ACTI.1524.NE.ZS,"Labor force participation rate for ages 15-24, total (%) (national estimate)",Social Protection & Labor,Labor force structure,NaN,NaN
1264,SL.TLF.ACTI.1524.ZS,"Labor force participation rate for ages 15-24, total (%) (modeled ILO estimate)",Social Protection & Labor,Labor force structure,NaN,NaN
1265,SL.TLF.ADVN.FE.ZS,"Labor force with advanced education, female (% of female labor force)",Social Protection & Labor,Labor force structure,NaN,NaN
1266,SL.TLF.ADVN.MA.ZS,"Labor force with advanced education, male (% of male labor force)",Social Protection & Labor,Labor force structure,NaN,NaN
1267,SL.TLF.ADVN.ZS,Labor force with advanced education (% of total),Social Protection & Labor,Labor force structure,NaN,NaN
1268,SL.TLF.BASC.FE.ZS,"Labor force with basic education, female (% of female labor force)",Social Protection & Labor,Labor force structure,NaN,NaN
1269,SL.TLF.BASC.MA.ZS,"Labor force with basic education, male (% of male labor force)",Social Protection & Labor,Labor force structure,NaN,NaN
1270,SL.TLF.BASC.ZS,Labor force with basic education (% of total),Social Protection & Labor,Labor force structure,NaN,NaN
1271,SL.TLF.CACT.FE.NE.ZS,"Labor force participation rate, female (% of female population ages 15+) (national estimate)",Social Protection & Labor,Labor force structure,NaN,NaN
1272,SL.TLF.CACT.FE.ZS,"Labor force participation rate, female (% of female population ages 15+) (modeled ILO estimate)",Social Protection & Labor,Labor force structure,NaN,NaN
1273,SL.TLF.CACT.FM.NE.ZS,Ratio of female to male labor force participation rate (%) (national estimate),Social Protection & Labor,Labor force structure,NaN,NaN
1274,SL.TLF.CACT.FM.ZS,Ratio of female to male labor force participation rate (%) (modeled ILO estimate),Social Protection & Labor,Labor force structure,NaN,NaN
1275,SL.TLF.CACT.MA.NE.ZS,"Labor force participation rate, male (% of male population ages 15+) (national estimate)",Social Protection & Labor,Labor force structure,NaN,NaN
1276,SL.TLF.CACT.MA.ZS,"Labor force participation rate, male (% of male population ages 15+) (modeled ILO estimate)",Social Protection & Labor,Labor force structure,NaN,NaN
1277,SL.TLF.CACT.NE.ZS,"Labor force participation rate, total (% of total population ages 15+) (national estimate)",Social Protection & Labor,Labor force structure,NaN,NaN
1278,SL.TLF.CACT.ZS,"Labor force participation rate, total (% of total population ages 15+) (modeled ILO estimate)",Social Protection & Labor,Labor force structure,NaN,NaN
1279,SL.TLF.INTM.FE.ZS,"Labor force with intermediate education, female (% of female labor force)",Social Protection & Labor,Labor force structure,NaN,NaN
1280,SL.TLF.INTM.MA.ZS,"Labor force with intermediate education, male (% of male labor force)",Social Protection & Labor,Labor force structure,NaN,NaN
1281,SL.TLF.INTM.ZS,Labor force with intermediate education (% of total),Social Protection & Labor,Labor force structure,NaN,NaN
1282,SL.TLF.TOTL.FE.ZS,"Labor force, female (% of total labor force)",Social Protection & Labor,Labor force structure,NaN,NaN
1284,SL.UEM.1524.FE.NE.ZS,"Unemployment, youth female (% of female labor force ages 15-24) (national estimate)",Social Protection & Labor,Unemployment,NaN,NaN
1285,SL.UEM.1524.FE.ZS,"Unemployment, youth female (% of female labor force ages 15-24) (modeled ILO estimate)",Social Protection & Labor,Unemployment,NaN,NaN
1286,SL.UEM.1524.MA.NE.ZS,"Unemployment, youth male (% of male labor force ages 15-24) (national estimate)",Social Protection & Labor,Unemployment,NaN,NaN
1287,SL.UEM.1524.MA.ZS,"Unemployment, youth male (% of male labor force ages 15-24) (modeled ILO estimate)",Social Protection & Labor,Unemployment,NaN,NaN
1288,SL.UEM.1524.NE.ZS,"Unemployment, youth total (% of total labor force ages 15-24) (national estimate)",Social Protection & Labor,Unemployment,NaN,NaN
1289,SL.UEM.1524.ZS,"Unemployment, youth total (% of total labor force ages 15-24) (modeled ILO estimate)",Social Protection & Labor,Unemployment,NaN,NaN
1292,SL.UEM.ADVN.ZS,Unemployment with advanced education (% of total unemployment),Social Protection & Labor,Unemployment,NaN,NaN
1295,SL.UEM.BASC.ZS,Unemployment with basic education (% of total unemployment),Social Protection & Labor,Unemployment,NaN,NaN
1298,SL.UEM.INTM.ZS,Unemployment with intermediate education (% of total unemployment),Social Protection & Labor,Unemployment,NaN,NaN
1299,SL.UEM.NEET.FE.ZS,"Share of youth not in education, employment or training, female (% of female youth population)",Social Protection & Labor,Unemployment,NaN,NaN
1300,SL.UEM.NEET.MA.ZS,"Share of youth not in education, employment or training, male (% of male youth population)",Social Protection & Labor,Unemployment,NaN,NaN
1301,SL.UEM.NEET.ZS,"Share of youth not in education, employment or training, total (% of youth population)",Social Protection & Labor,Unemployment,NaN,NaN
1302,SL.UEM.TOTL.FE.NE.ZS,"Unemployment, female (% of female labor force) (national estimate)",Social Protection & Labor,Unemployment,NaN,NaN
1303,SL.UEM.TOTL.FE.ZS,"Unemployment, female (% of female labor force) (modeled ILO estimate)",Social Protection & Labor,Unemployment,NaN,NaN
1304,SL.UEM.TOTL.MA.NE.ZS,"Unemployment, male (% of male labor force) (national estimate)",Social Protection & Labor,Unemployment,NaN,NaN
1305,SL.UEM.TOTL.MA.ZS,"Unemployment, male (% of male labor force) (modeled ILO estimate)",Social Protection & Labor,Unemployment,NaN,NaN
1306,SL.UEM.TOTL.NE.ZS,"Unemployment, total (% of total labor force) (national estimate)",Social Protection & Labor,Unemployment,NaN,NaN