## Loading libraries

In [25]:
import requests
from lxml import html
import pandas as pd
import numpy as np

from time import sleep
import os

pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_colwidth', None)

## 1. Collecting the **Data Catalog** from the UNDP (Human Development Report Office Statistical Data API)

In [4]:
path = os.getcwd()
path

'/Users/rubencito/CAS_datascience/ADS_CAS_Bern_2020/Projects/M3'

In [11]:
my_data_catalog_path = path + "/" + "data_catalogs" + "/" + "UNDP_data_catalog" + "/" + "HDRO.html"
my_data_catalog_path

'/Users/rubencito/CAS_datascience/ADS_CAS_Bern_2020/Projects/M3/data_catalogs/UNDP_data_catalog/HDRO.html'

In [14]:
# loading the Indicator parameters
indi_col_names = ['ID', 'Indicator_Name']
indi_UNDP_df = pd.read_html(my_data_catalog_path)[0][2:]
indi_UNDP_df.reset_index(inplace = True, drop = True) # fix the indexing
indi_UNDP_df.columns = indi_col_names # Fix columns names
indi_UNDP_df.head(6)
# indi_UNDP_df.shape

,ID,Indicator_Name
0,164406,Adjusted net savings (% of GNI)
1,36806,"Adolescent birth rate (births per 1,000 women ages 15-19)"
2,185106,"Age-standardized mortality rate attributed to noncommunicable diseases, female"
3,185206,"Age-standardized mortality rate attributed to noncommunicable diseases, male"
4,175206,"Antenatal care coverage, at least one visit (%)"
5,186806,Average annual change in the share of bottom 40 percent (%)

### Loading the Country codes and save them for later mapping the countries by code

In [55]:
# Don't run
country_col_names = ['Country_Code', 'Country_Name']
country_UNDP_df = pd.read_html(my_data_catalog_path)[1][2:]
country_UNDP_df.reset_index(inplace = True, drop = True) # fix the indexing
country_UNDP_df.columns = country_col_names # Fix columns names

country_UNDP_df.to_csv(os.path.abspath('.') + '/' + 'Country_code.csv', index=False)

country_UNDP_df.shape

(195, 2)

## 2. Define a function that call a specific parameter and retunr a df

In [15]:
# Define the default values for the function

url_seed = "http://ec2-54-174-131-205.compute-1.amazonaws.com/API/HDRO_API.php/"
years = np.arange(2010, 2020)
years = ','.join(map(str, years))
indicator_id = "195606"
struct = ["ciy", "yic", "yci", "iyc", "icy"]

In [12]:
years

'2010,2011,2012,2013,2014,2015,2016,2017,2018,2019'

In [56]:
def API_UNDP_call_to_df(indicator_id, url_seed = url_seed, years = years):
    
    # define User agent and session
    s = requests.Session()
    headers = {
    "user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/71.0.3578.80 Chrome/71.0.3578.80 Safari/537.36"
    }
    
    # create parameterized query to the API
    my_url = url_seed + "indicator_id" + "=" + indicator_id + "/" + "year" + "=" + years + "/" + "structure" + "=" + struct[3]
#     print(my_url)
    response = requests.get(my_url, headers=headers)
    json_objet = response.json()
#     print(json_objet)
    
    #Create df from json object
    df = pd.DataFrame(list(list(json_objet.values())[0].values())[0]) # call the 3rd level nested element
    df = df.stack().to_frame() # stack() method transform the data in narrow format, and to_frame() to a dataframe
    df.reset_index(inplace=True)# fixing the indexing 
    df.columns = ['country_code','year', list(list(json_objet.values())[2].values())[0]]
    country_map = pd.DataFrame({list(df.columns)[0] : list(list(json_objet.values())[1].keys()),# Create a dataframe with the country name and code to map the values to the original one
                                "country_name" : list(list(json_objet.values())[1].values())})
    df = df[list(df.columns)].merge(country_map, how= "left")# Merge the original dataframe with the he country name and code dataframe
    
    columns = df.columns.tolist() # rearrange columns
    columns = columns[-1:] + columns[:3]
    
    df = df[columns]
    
    return(json_objet)

In [ ]:
example = API_UNDP_call_to_df("103706")
example

In [66]:
example_df = pd.DataFrame(list(list(example.values())[0].values())[0]).stack().to_frame().reset_index()
example_df.head()

  level_0 level_1      0
0     AFG    2010  0.372
1     AFG    2011  0.374
2     AFG    2012  0.390
3     AFG    2013  0.398
4     AFG    2014  0.403

In [67]:
example_df.columns = ['country_code','year', list(list(example.values())[2].values())[0]]
example_df.head()

  country_code  year  Education index
0          AFG  2010            0.372
1          AFG  2011            0.374
2          AFG  2012            0.390
3          AFG  2013            0.398
4          AFG  2014            0.403

In [72]:
country_map = pd.DataFrame({list(example_df.columns)[0] : list(list(example.values())[1].keys()),# Create a dataframe with the country name and code to map the values to the original one
                                "country_name" : list(list(example.values())[1].values())})
country_map.head()

  country_code          country_name
0          AFG           Afghanistan
1          AGO                Angola
2          ALB               Albania
3          AND               Andorra
4          ARE  United Arab Emirates

In [73]:
example_df[list(example_df.columns)].merge(country_map, how= "right")

     country_code  year  Education index      country_name
0             AFG  2010            0.372       Afghanistan
1             AFG  2011            0.374       Afghanistan
2             AFG  2012            0.390       Afghanistan
3             AFG  2013            0.398       Afghanistan
4             AFG  2014            0.403       Afghanistan
...           ...   ...              ...               ...
1878          ZWE  2018            0.570          Zimbabwe
1879          ZWE  2019            0.587          Zimbabwe
1880          MHL  2017            0.707  Marshall Islands
1881          MHL  2018            0.707  Marshall Islands
1882          MHL  2019            0.707  Marshall Islands

[1883 rows x 4 columns]

In [74]:
pd.read_csv("Country_code.csv")

    Country_Code                         Country_Name
0            AFG                          Afghanistan
1            ALB                              Albania
2            DZA                              Algeria
3            AND                              Andorra
4            AGO                               Angola
5            ATG                  Antigua and Barbuda
6            ARG                            Argentina
7            ARM                              Armenia
8            AUS                            Australia
9            AUT                              Austria
10           AZE                           Azerbaijan
11           BHS                              Bahamas
12           BHR                              Bahrain
13           BGD                           Bangladesh
14           BRB                             Barbados
15           BLR                              Belarus
16           BEL                              Belgium
17           BLZ                               Belize
18           BEN                                Benin
19           BTN                               Bhutan
20           BOL     Bolivia (Plurinational State of)
21           BIH               Bosnia and Herzegovina
22           BWA                             Botswana
23           BRA                               Brazil
24           BRN                    Brunei Darussalam
25           BGR                             Bulgaria
26           BFA                         Burkina Faso
27           BDI                              Burundi
28           CPV                           Cabo Verde
29           KHM                             Cambodia
30           CMR                             Cameroon
31           CAN                               Canada
32           CAF             Central African Republic
33           TCD                                 Chad
34           CHL                                Chile
35           CHN                                China
36           COL                             Colombia
37           COM                              Comoros
38           COG                                Congo
39           COD   Congo (Democratic Republic of the)
40           CRI                           Costa Rica
41           CIV                        Cote d'Ivoire
42           HRV                              Croatia
43           CUB                                 Cuba
44           CYP                               Cyprus
45           CZE                              Czechia
46           DNK                              Denmark
47           DJI                             Djibouti
48           DMA                             Dominica
49           DOM                   Dominican Republic
50           ECU                              Ecuador
51           EGY                                Egypt
52           SLV                          El Salvador
53           GNQ                    Equatorial Guinea
54           ERI                              Eritrea
55           EST                              Estonia
56           SWZ                Eswatini (Kingdom of)
57           ETH                             Ethiopia
58           FJI                                 Fiji
59           FIN                              Finland
60           FRA                               France
61           GAB                                Gabon
62           GMB                               Gambia
63           GEO                              Georgia
64           DEU                              Germany
65           GHA                                Ghana
66           GRC                               Greece
67           GRD                              Grenada
68           GTM                            Guatemala
69           GIN                               Guinea
70           GNB                        Guinea-Bissau
71           GUY                               Guyana
72           HTI                                Haiti
73           HND                             Honduras
74           HKG               Hong Kong, China (SAR)
75           HUN                              Hungary
76           ISL                              Iceland
77           IND                                India
78           IDN                            Indonesia
79           IRN           Iran (Islamic Republic of)
80           IRQ                                 Iraq
81           IRL                              Ireland
82           ISR                               Israel
83           ITA                                Italy
84           JAM                              Jamaica
85           JPN                                Japan
86           JOR                               Jordan
87           KAZ                           Kazakhstan
88           KEN                                Kenya
89           KIR                             Kiribati
90           PRK  Korea (Democratic People's Rep. of)
91           KOR                  Korea (Republic of)
92           KWT                               Kuwait
93           KGZ                           Kyrgyzstan
94           LAO     Lao People's Democratic Republic
95           LVA                               Latvia
96           LBN                              Lebanon
97           LSO                              Lesotho
98           LBR                              Liberia
99           LBY                                Libya
100          LIE                        Liechtenstein
101          LTU                            Lithuania
102          LUX                           Luxembourg
103          MDG                           Madagascar
104          MWI                               Malawi
105          MYS                             Malaysia
106          MDV                             Maldives
107          MLI                                 Mali
108          MLT                                Malta
109          MHL                     Marshall Islands
110          MRT                           Mauritania
111          MUS                            Mauritius
112          MEX                               Mexico
113          FSM     Micronesia (Federated States of)
114          MDA                Moldova (Republic of)
115          MCO                               Monaco
116          MNG                             Mongolia
117          MNE                           Montenegro
118          MAR                              Morocco
119          MOZ                           Mozambique
120          MMR                              Myanmar
121          NAM                              Namibia
122          NRU                                Nauru
123          NPL                                Nepal
124          NLD                          Netherlands
125          NZL                          New Zealand
126          NIC                            Nicaragua
127          NER                                Niger
128          NGA                              Nigeria
129          MKD                      North Macedonia
130          NOR                               Norway
131          OMN                                 Oman
132          PAK                             Pakistan
133          PLW                                Palau
134          PSE                  Palestine, State of
135          PAN                               Panama
136          PNG                     Papua New Guinea
137          PRY                             Paraguay
138          PER                                 Peru
139          PHL                          Philippines
140          POL                               Poland
141          PRT                             Portugal
142          QAT                                Qatar
143          ROU                              Romania
144          RUS                   Russian Federation
145          RWA                               Rwanda
146          KNA                Saint Kitts and Nevis
147          LCA                          Saint Lucia
148          VCT     Saint Vincent and the Grenadines
149          WSM                                Samoa
150          SMR                           San Marino
151          STP                Sao Tome and Principe
152          SAU                         Saudi Arabia
153          SEN                              Senegal
154          SRB                               Serbia
155          SYC                           Seychelles
156          SLE                         Sierra Leone
157          SGP                            Singapore
158          SVK                             Slovakia
159          SVN                             Slovenia
160          SLB                      Solomon Islands
161          SOM                              Somalia
162          ZAF                         South Africa
163          SSD                          South Sudan
164          ESP                                Spain
165          LKA                            Sri Lanka
166          SDN                                Sudan
167          SUR                             Suriname
168          SWE                               Sweden
169          CHE                          Switzerland
170          SYR                 Syrian Arab Republic
171          TJK                           Tajikistan
172          TZA        Tanzania (United Republic of)
173          THA                             Thailand
174          TLS                          Timor-Leste
175          TGO                                 Togo
176          TON                                Tonga
177          TTO                  Trinidad and Tobago
178          TUN                              Tunisia
179          TUR                               Turkey
180          TKM                         Turkmenistan
181          TUV                               Tuvalu
182          UGA                               Uganda
183          UKR                              Ukraine
184          ARE                 United Arab Emirates
185          GBR                       United Kingdom
186          USA                        United States
187          URY                              Uruguay
188          UZB                           Uzbekistan
189          VUT                              Vanuatu
190          VEN   Venezuela (Bolivarian Republic of)
191          VNM                             Viet Nam
192          YEM                                Yemen
193          ZMB                               Zambia
194          ZWE                             Zimbabwe

## 3. Loop over a number of data codes, colect, transform to df and save a formated dataframe for the given indicator

In [53]:
# check of find for an specific indicator
my_indi = "govern"
indi_UNDP_df[indi_UNDP_df['Indicator_Name'].str.contains(my_indi, case = False)]

         ID                                        Indicator_Name
40   149206        Government expenditure on education (% of GDP)
150  194306  Share of seats held by women in local government (%)

In [51]:
# check of find for an specific code
my_code = "103706"
indi_UNDP_df[indi_UNDP_df['ID'].str.contains(my_code, case = False)]

        ID   Indicator_Name
21  103706  Education index

In [54]:
# make a dictionary of indi codes and name for the output csv file, whihc will be saved in the curated folder

my_UNDP_indicator_dic = {"137506": "HDI",# Human Development Index (HDI)
                         "137906" : "GDI",# Gender Development Index (GDI)
                        "68606": "GII",# Gender Inequality Index (GII)
                        "31706": "FemParlmt",# Share of seats in parliament (% held by women)
                        "103206": "LifeExpecIndx",# Life expectancy index
                        "181806": "HealthExpend",# Current health expenditure (% of GDP)
                        "44206": "TotPopulMill",# Total population (millions)
                        "103706": "EducaIndx"} # Education index
my_UNDP_indicator_dic

{'137506': 'HDI',
 '137906': 'GDI',
 '68606': 'GII',
 '31706': 'FemParlmt',
 '103206': 'LifeExpecIndx',
 '181806': 'HealthExpend',
 '44206': 'TotPopulMill',
 '103706': 'EducaIndx'}

In [48]:
# loop over the indicator list and 
for value in my_UNDP_indicator_dic:
    my_df = API_UNDP_call_to_df(indicator_id = value)
    my_df.to_csv(path + '/' + 'curated_datasets' + '/' + 'UNDP_' + my_UNDP_indicator_dic[value] +'_df' + ".csv", index=False )
    sleep(1) # make a time sleep between calls to ot overload the API