In [2]:
import pandas as pd
import requests
from lxml import html
import wget
from zipfile import ZipFile
import fnmatch
import os
from time import sleep

In [3]:
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_colwidth', None)

In [4]:
path = os.getcwd()
path

'/Users/rubencito/CAS_datascience/ADS_CAS_Bern_2020/Projects/M3'

## Importing the Worldbank data catalog
We see that the catalog contain > 1500 series!!!

In [6]:
full_db_catalog = pd.read_excel(io=path + "/" + "WB_fullseries_catalog.xls",
             sheet_name = 1)

full_db_catalog.head()

,Series Code,Series Name,Topic,SubTopic1,SubTopic2,SubTopic3
0,AG.AGR.TRAC.NO,"Agricultural machinery, tractors",Environment,Agricultural production,NaN,NaN
1,AG.CON.FERT.PT.ZS,Fertilizer consumption (% of fertilizer production),Environment,Agricultural production,NaN,NaN
2,AG.CON.FERT.ZS,Fertilizer consumption (kilograms per hectare of arable land),Environment,Agricultural production,NaN,NaN
3,AG.LND.AGRI.K2,Agricultural land (sq. km),Environment,Land use,NaN,NaN
4,AG.LND.AGRI.ZS,Agricultural land (% of land area),Environment,Land use,NaN,NaN

## Create a Helper Function to find easily a given catalog by code or by name

In [7]:
def find_your_serie(in_your_serie, full_wb_catalog = full_db_catalog,  by_code = False, by_name = False):
    if by_code:
        
        return(full_db_catalog[full_db_catalog['Series Code'].str.contains(in_your_serie, case = False)])
    
    if by_name:
        
        return(full_db_catalog[full_db_catalog['Series Name'].str.contains(in_your_serie, case = False)])
    else:
        
        return(full_db_catalog)

## Finding Economic indicator "GNI, PPP" code catalog

In [32]:
# full_db_catalog[full_db_catalog['Series Name'].str.contains("GNI, PPP")]
find_your_serie(by_name=True, full_wb_catalog=full_db_catalog, in_your_serie = "GNI, PPP")

,Series Code,Series Name,Topic,SubTopic1,SubTopic2,SubTopic3
839,NY.GNP.MKTP.PP.CD,"GNI, PPP (current international $)",Economic Policy & Debt,Purchasing power parity,NaN,NaN
840,NY.GNP.MKTP.PP.KD,"GNI, PPP (constant 2011 international $)",Economic Policy & Debt,Purchasing power parity,NaN,NaN

## Finding Economic indicator "Corruption perception Index" code catalog

In [33]:
find_your_serie(by_name=True, full_wb_catalog=full_db_catalog, in_your_serie = "corruption")

,Series Code,Series Name,Topic,SubTopic1,SubTopic2,SubTopic3
629,IQ.CPA.TRAN.XQ,"CPIA transparency, accountability, and corruption in the public sector rating (1=low to 6=high)",Public Sector,Policy & institutions,NaN,NaN

## Finding Economic indicator "Government Effectiveness" code catalog

In [ ]:
find_your_serie(by_name=True, full_wb_catalog=full_db_catalog, in_your_serie = "governm")

## Finding Economic indicator "Civil liberty index" code catalog

In [57]:
# find_your_serie(by_code=True, full_wb_catalog=full_db_catalog, in_your_serie = "ff")
find_your_serie(by_name=True, in_your_serie = "lib")

Empty DataFrame
Columns: [Series Code, Series Name, Topic, SubTopic1, SubTopic2, SubTopic3]
Index: []

## Finding Economic indicator "Enviromental" code catalog

In [58]:
# find_your_serie(by_code=True, full_wb_catalog=full_db_catalog, in_your_serie = "ff")
find_your_serie(by_name=True, in_your_serie = "envi")

,Series Code,Series Name,Topic,SubTopic1,SubTopic2,SubTopic3
609,IQ.CPA.BREG.XQ,CPIA business regulatory environment rating (1=low to 6=high),Public Sector,Policy & institutions,NaN,NaN
612,IQ.CPA.ENVR.XQ,CPIA policy and institutions for environmental sustainability rating (1=low to 6=high),Public Sector,Policy & institutions,NaN,NaN

## Finding Economic indicator "Expectancy" code catalog

In [60]:
# find_your_serie(by_code=True, full_wb_catalog=full_db_catalog, in_your_serie = "ff")
find_your_serie(by_name=True, in_your_serie = "life")

,Series Code,Series Name,Topic,SubTopic1,SubTopic2,SubTopic3
1109,SH.MMR.RISK,Lifetime risk of maternal death (1 in: rate varies by country),Health,Reproductive health,NaN,NaN
1110,SH.MMR.RISK.ZS,Lifetime risk of maternal death (%),Health,Reproductive health,NaN,NaN
1333,SP.DYN.LE00.FE.IN,"Life expectancy at birth, female (years)",Health,Mortality,NaN,NaN
1334,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",Health,Mortality,NaN,NaN
1335,SP.DYN.LE00.MA.IN,"Life expectancy at birth, male (years)",Health,Mortality,NaN,NaN

## Finding Economic indicator "health" code catalog

In [ ]:
# find_your_serie(by_code=True, full_wb_catalog=full_db_catalog, in_your_serie = "ff")
find_your_serie(by_name=True, in_your_serie = "health")

## Finding Economic indicator "seats" code catalog

In [66]:
# find_your_serie(by_code=True, full_wb_catalog=full_db_catalog, in_your_serie = "ff")
find_your_serie(by_name=True, in_your_serie = "seat")

,Series Code,Series Name,Topic,SubTopic1,SubTopic2,SubTopic3
1049,SG.GEN.PARL.ZS,Proportion of seats held by women in national parliaments (%),Gender,Public life & decision making,NaN,NaN

## Finding Economic indicator "poverty" code catalog

In [ ]:
# find_your_serie(by_code=True, full_wb_catalog=full_db_catalog, in_your_serie = "ff")
find_your_serie(by_name=True, in_your_serie = "povert")

## Extract socioeconomical data from the worlbank

### Create a Function that make a call to the API and return a data frame

In [8]:
#####################

# This function make a specific dataseries request to the worlbank API and return a pandas df as output. 
# It takes 3  arguments:
# 1. Indicator Code "indic_code", 
# 2. year range "year_s", 
# 3. Path destination "destination"

#####################


def API_call_to_df(indic_code, 
                   year_s = '2000:2020', 
                   destination = path + "/" + "WB_datasets"):
    WB_url_seed = 'http://api.worldbank.org/v2/country/all/indicator/' + indic_code
    my_params = {'date' : year_s,
                'incomelevel' :'',
                'downloadformat' : 'csv',
                'per_page' : '304'}
    
    def number_of_cols(year_s): # Define function to asses index of columns to retrieve
        my_years_int = year_s.split(":")
        my_colums_indx = [*range(0, list(map(int, my_years_int))[1] - list(map(int, my_years_int))[0] + 5)]
        return(my_colums_indx)
    
    for file in os.listdir(destination):
        if fnmatch.fnmatch(file, "API_" + indic_code.upper() + "*"):
            os.remove(destination + "/" + file)
            response = requests.get(WB_url_seed, params = my_params)
            my_zip_file = wget.download(response.url, out= destination)
            print("file exists and will be replaced")
            break
            
    else:
        response = requests.get(WB_url_seed, params = my_params)
        my_zip_file = wget.download(response.url, out= destination)
        
    with ZipFile(my_zip_file, 'r') as zipObj:
            for content in zipObj.namelist():
                if fnmatch.fnmatch(content, 'API_*'):
                    #print(content) #wihtin the content of the zip file find and extract the csv file that contain the data
                    my_filename = content
                    zipObj.extract(content, path = destination)
                    my_df = pd.read_csv(destination + '/' + my_filename, 
                                                header = 2,
                                                usecols = number_of_cols(year_s))
                    os.remove(destination + "/" + my_filename)
    
    my_columns = list(my_df.columns)                
    my_df = my_df.melt(#change the df to long format
        id_vars=my_columns[:2],
        value_vars=my_columns[4:],
        var_name='year', 
        value_name=my_df['Indicator Name'][1])
    
    my_df.rename(columns={my_columns[0]: 'country_name', my_columns[1]: 'country_code'}, inplace=True)#rename columns
    

                    
    return(my_df)

In [9]:
wer_indicator = API_call_to_df(indic_code="NY.GNP.MKTP.PP.CD", year_s = '2010:2020')
wer_indicator.head(5)

file exists and will be replaced

  country_name country_code  year  GNI, PPP (current international $)
0        Aruba          ABW  2010                        3.122230e+09
1  Afghanistan          AFG  2010                        5.001196e+10
2       Angola          AGO  2010                        1.390217e+11
3      Albania          ALB  2010                        2.778845e+10
4      Andorra          AND  2010                                 NaN

In [10]:
wer_indicator.shape

(2904, 4)

### Filtering the series that contain only variables exressed as %
We obtain only 755 variables which is a lot less!

In [12]:
raw_percentage_db_catalog = full_db_catalog[full_db_catalog['Series Name'].str.contains("%")]
raw_percentage_db_catalog.head()

,Series Code,Series Name,Topic,SubTopic1,SubTopic2,SubTopic3
1,AG.CON.FERT.PT.ZS,Fertilizer consumption (% of fertilizer production),Environment,Agricultural production,NaN,NaN
4,AG.LND.AGRI.ZS,Agricultural land (% of land area),Environment,Land use,NaN,NaN
7,AG.LND.ARBL.ZS,Arable land (% of land area),Environment,Land use,NaN,NaN
9,AG.LND.CROP.ZS,Permanent cropland (% of land area),Environment,Land use,NaN,NaN
11,AG.LND.EL5M.RU.ZS,Rural land area where elevation is below 5 meters (% of total land area),Environment,Land use,NaN,NaN

### Display the number of dataseries per topic

In [13]:
raw_percentage_db_catalog.sort_values(by = "Topic").groupby(['Topic'], as_index = False).size()#[raw_percentage_db_catalog[]]

Topic
Economic Policy & Debt       105
Education                    124
Environment                   68
Financial Sector              35
Gender                         9
Health                       131
Infrastructure                 6
Poverty                       20
Private Sector & Trade        91
Public Sector                 27
Social Protection & Labor    139
dtype: int64

#### We Observe that the topics that contain the most number of series are:

1. **Social Protection & Labor**
2. **Health**
3. **Education**
4. **Economic Policy & Debt**

## Explore the various topics to asess quality of the data

In [254]:
raw_percentage_db_catalog[raw_percentage_db_catalog['Topic'] == "Social Protection & Labor"].head(10)

,Series Code,Series Name,Topic,SubTopic1,SubTopic2,SubTopic3
869,per_allsp.adq_pop_tot,Adequacy of social protection and labor programs (% of total welfare of beneficiary households),Social Protection & Labor,Performance,NaN,NaN
870,per_allsp.ben_q1_tot,Benefit incidence of social protection and labor programs to poorest quintile (% of total SPL benefits),Social Protection & Labor,Performance,NaN,NaN
871,per_allsp.cov_pop_tot,Coverage of social protection and labor programs (% of population),Social Protection & Labor,Performance,NaN,NaN
872,per_lm_alllm.adq_pop_tot,Adequacy of unemployment benefits and ALMP (% of total welfare of beneficiary households),Social Protection & Labor,Performance,NaN,NaN
873,per_lm_alllm.ben_q1_tot,Benefit incidence of unemployment benefits and ALMP to poorest quintile (% of total U/ALMP benefits),Social Protection & Labor,Performance,NaN,NaN
874,per_lm_alllm.cov_pop_tot,Coverage of unemployment benefits and ALMP (% of population),Social Protection & Labor,Performance,NaN,NaN
875,per_lm_alllm.cov_q1_tot,Coverage of unemployment benefits and ALMP in poorest quintile (% of population),Social Protection & Labor,Performance,NaN,NaN
876,per_lm_alllm.cov_q2_tot,Coverage of unemployment benefits and ALMP in 2nd quintile (% of population),Social Protection & Labor,Performance,NaN,NaN
877,per_lm_alllm.cov_q3_tot,Coverage of unemployment benefits and ALMP in 3rd quintile (% of population),Social Protection & Labor,Performance,NaN,NaN
878,per_lm_alllm.cov_q4_tot,Coverage of unemployment benefits and ALMP in 4th quintile (% of population),Social Protection & Labor,Performance,NaN,NaN

In [317]:
# Count the number of NaNs in a given series df
# Indicator_Code = 
# wer_indicator
years = pd.DataFrame(wer_indicator.isnull().sum()).reset_index()[4:]
years.columns = ("year", "NaNs")
years.head(6)

   year  NaNs
4  2000   263
5  2001   263
6  2002   261
7  2003   261
8  2004   259
9  2005   251

### Make a function that take a dataframe and return the NaNs listed by year in all countries

In [13]:
def data_quality_asses(dataframe):
    df_years = pd.DataFrame(dataframe.isnull().sum()).reset_index()[4:] # Obtain Nas per year
    df_years.columns = ("year", "NaNs") # rename columns
    df_years["Indicator Code"] = dataframe["Indicator Code"][0] # add new column with the code name
    df_years.set_index( ["Indicator Code"], inplace = True) # reset index to the code name
    df_years = pd.pivot(df_years, columns= 'year', values= "NaNs") # pivot the dataset
    return (df_years)

In [ ]:
data_quality_asses(wer_indicator)[:]

In [1]:
wer_indicator.shape

NameError: name 'wer_indicator' is not defined

In [15]:
wer_indicator.head()

  country_name country_code  year  GNI, PPP (current international $)
0        Aruba          ABW  2010                        3.122230e+09
1  Afghanistan          AFG  2010                        5.001196e+10
2       Angola          AGO  2010                        1.390217e+11
3      Albania          ALB  2010                        2.778845e+10
4      Andorra          AND  2010                                 NaN

In [ ]:
wer_indicator.isnull().sum().to_frame()

Before assesing the quality of the data namely ratio of NaNs to total entries is better to base the analysis in countries only and exclude geografical groups or organizations.

### Taking only countries included in the UNDP dataset

In [ ]:
path

In [14]:
country_codes_df = pd.read_csv(path + "/" + "Country_code.csv"  )

In [16]:
country_codes_df.shape

(195, 2)

In [15]:
country_codes_df.head()

  Country_Code Country_Name
0          AFG  Afghanistan
1          ALB      Albania
2          DZA      Algeria
3          AND      Andorra
4          AGO       Angola

In [19]:
len(wer_indicator['country_code'].unique())

264

In [36]:
country_codes = country_codes_df["Country_Code"]

In [37]:
# Number of countries which are not listed in the UNDP dataset
len(wer_indicator[wer_indicator['country_code'].isin(country_codes)][["country_name", "country_code"]].drop_duplicates())

195

In [39]:
wer_indicator[~wer_indicator['country_code'].isin(country_codes_df['Country_Code'])][["country_name", "country_code"]].drop_duplicates().head(10)

                                   country_name country_code
0                                         Aruba          ABW
5                                    Arab World          ARB
9                                American Samoa          ASM
25                                      Bermuda          BMU
34               Central Europe and the Baltics          CEB
36                              Channel Islands          CHI
47                       Caribbean small states          CSS
49                                      Curacao          CUW
50                               Cayman Islands          CYM
59  East Asia & Pacific (excluding high income)          EAP

In [44]:
wer_indicator_clean = wer_indicator[wer_indicator['country_code'].isin(country_codes)].reset_index(drop=True)

In [55]:
wer_indicator_clean.sort_values(by=['country_name', 'year']).reset_index(drop=True)

     country_name country_code  year  GNI, PPP (current international $)
0     Afghanistan          AFG  2010                        5.001196e+10
1     Afghanistan          AFG  2011                        5.112837e+10
2     Afghanistan          AFG  2012                        5.976096e+10
3     Afghanistan          AFG  2013                        6.526676e+10
4     Afghanistan          AFG  2014                        6.905035e+10
...           ...          ...   ...                                 ...
2140     Zimbabwe          ZWE  2016                        3.597303e+10
2141     Zimbabwe          ZWE  2017                        3.927602e+10
2142     Zimbabwe          ZWE  2018                        4.323933e+10
2143     Zimbabwe          ZWE  2019                        4.012525e+10
2144     Zimbabwe          ZWE  2020                                 NaN

[2145 rows x 4 columns]

### We make a function that clean the data and export it

In [89]:
# Define a function to clean the dataset
# this function remove unknown conutry ocdes and sort the data by country_name and year

def clean_and_save_my_df(df, output_file_name, destination_dir = path + "/" + "curated_datasets"):
    #collect the country codes for the original file "Country_code.csv"
    UNDP_country_code_list = pd.read_csv(path + "/" + "Country_code.csv")["Country_Code"]
    
    clean_df = df[df['country_code'].isin(UNDP_country_code_list)].reset_index(drop=True)#filter by the countrycode
    clean_df = clean_df.sort_values(by=['country_name', 'year']).reset_index(drop=True)#sort the columns
    
    clean_df.to_csv(destination_dir + '/' + output_file_name + '.csv', index=False)
    
    return(clean_df)

In [90]:
clean_and_save_my_df(df = wer_indicator, output_file_name= "GNI_PPP")

     country_name country_code  year  GNI, PPP (current international $)
0     Afghanistan          AFG  2010                        5.001196e+10
1     Afghanistan          AFG  2011                        5.112837e+10
2     Afghanistan          AFG  2012                        5.976096e+10
3     Afghanistan          AFG  2013                        6.526676e+10
4     Afghanistan          AFG  2014                        6.905035e+10
...           ...          ...   ...                                 ...
2140     Zimbabwe          ZWE  2016                        3.597303e+10
2141     Zimbabwe          ZWE  2017                        3.927602e+10
2142     Zimbabwe          ZWE  2018                        4.323933e+10
2143     Zimbabwe          ZWE  2019                        4.012525e+10
2144     Zimbabwe          ZWE  2020                                 NaN

[2145 rows x 4 columns]