In [1]:
import pandas as pd
import os

In [2]:
os.chdir('/Users/rubencito/CAS_datascience/ADS_CAS_Bern_2020/Projects/M3')
path = os.getcwd()
path

'/Users/rubencito/CAS_datascience/ADS_CAS_Bern_2020/Projects/M3'

In [3]:
excel_path = os.path.join(path, 
             "datasets",
             "Civil_liberties_index",
             "data.csv")

In [4]:
raw_df = pd.read_csv(excel_path, header= 0)#, skiprows= lambda x : logic(x, 8))

In [5]:
raw_df.head()

,Country ISO3,Country Name,Indicator Id,Indicator,Subindicator Type,1975,1976,1977,1978,1979,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,AFG,Afghanistan,41794,Absence of corruption (Global States of Democr...,Scaled to range from 0 (lowest score) to 1 (hi...,0.445052,0.445052,0.445052,0.419416,0.443398,...,0.176905,0.176905,0.176905,0.176905,0.176306,0.195783,0.214885,0.190394,0.190394,0.236799
1,AFG,Afghanistan,41795,Access to justice,Scaled to range from 0 (lowest score) to 1 (hi...,0.397449,0.396095,0.397115,0.383026,0.343407,...,0.356947,0.348901,0.351452,0.350275,0.346546,0.347724,0.347527,0.320447,0.335165,0.304749
2,AFG,Afghanistan,41796,Access to justice for men,Scaled to range from 0 (lowest score) to 1 (hi...,0.464411,0.464411,0.467178,0.420397,0.336519,...,0.386444,0.386444,0.386444,0.386444,0.379527,0.386444,0.386444,0.348717,0.362802,0.297158
3,AFG,Afghanistan,41797,Access to justice for women,Scaled to range from 0 (lowest score) to 1 (hi...,0.326403,0.326403,0.326403,0.409693,0.432822,...,0.399558,0.376949,0.376949,0.376949,0.364735,0.364735,0.356939,0.351741,0.363176,0.384745
4,AFG,Afghanistan,41798,Barriers to parties,Scaled to range from 0 (lowest score) to 1 (hi...,0.263158,0.263158,0.263158,0.263158,0.210526,...,0.578947,0.473684,0.473684,0.473684,0.526316,0.526316,0.526316,0.473684,0.578947,0.473684

In [6]:
raw_df = raw_df[raw_df["Indicator"].str.contains("Civil liber")].reset_index(drop = True)

In [7]:
my_columns = raw_df.columns.to_list()

In [8]:
long_df = raw_df.melt(id_vars=my_columns[:2],
            value_vars=my_columns[5:],
            var_name='year', 
            value_name=raw_df['Indicator'][1] + "index")

In [9]:
long_df.head()

  Country ISO3          Country Name  year  Civil liberties index
0          AFG           Afghanistan  1975               0.382409
1          AGO                Angola  1975               0.215496
2          ALB               Albania  1975               0.076784
3          ARE  United Arab Emirates  1975               0.343770
4          ARG             Argentina  1975               0.546490

In [10]:
long_df_2010 = long_df[long_df["year"] >= "2010"]

In [11]:
my_columns[0:6]

['Country ISO3',
 'Country Name',
 'Indicator Id',
 'Indicator',
 'Subindicator Type',
 '1975']

In [12]:
long_df_2010.rename(columns = {my_columns[0] : "country_code",
                               my_columns[1] : "country_name"}, 
                    inplace = True)

/Users/rubencito/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [13]:
new_col_names = long_df_2010.columns.to_list()

In [14]:
long_df_2010 = long_df_2010[new_col_names[1:2] + new_col_names[0:1] + new_col_names[2:]].sort_values(by = ["country_name", "year"]).reset_index(drop= True)
long_df_2010.head()

  country_name country_code  year  Civil liberties index
0  Afghanistan          AFG  2010               0.548055
1  Afghanistan          AFG  2011               0.543847
2  Afghanistan          AFG  2012               0.548934
3  Afghanistan          AFG  2013               0.551491
4  Afghanistan          AFG  2014               0.550697

In [18]:
long_df_2010.to_csv(os.path.join(path,
                                 "curated_datasets",
                                 "Civil_lib_indx.csv"), 
                   index = False)

In [17]:
long_df_2010.shape

(1404, 4)